{% extends "base.html" %}

{% block body %}
	<br>
	<div class = "container">
		<h2>Create an account</h2>
		<form method = "post">
			<input class = "form-control" type="text" name="" placeholder = "Username">
			<br>
			<input class = "form-control" type="password" name="" placeholder = "Password">
			<br>
			<input class = "form-control" type="password" name="" placeholder = "Confirm Password">			
			<br>
			<button class = "btn btn-primary" type = "submit">Submit</button>

		</form>
	</div>

{% endblock %}