{% extends "base.html" %}

{% block body %}
	<br>
  	<div class = "container">
      <h1>Title</h1>
      <div class="card w-75">
        <div class="card-header">
          ICS 32
        </div>
        <div class="card-body">
          <h5 class="card-title">Please help</h5>
          <p class="card-text">Can anybody help me with ICS 32?</p>
          <a href="#" class="btn btn-primary">Comment</a>
        </div>
      </div>
      <br>
      <div class="card w-75">
        <div class="card-header">
          ICS 6B
        </div>
        <div class="card-body">
          <h5 class="card-title">Parnter?</h5>
          <p class="card-text">Does anybody want to do ICS 6B homework with me?</p>
          <a href="#" class="btn btn-primary">Comment</a>
        </div>
{% endblock %}



