{% extends "base.html" %}

{% block body %}
	<br>
  	<div class = "container">
      <h1>Title</h1>
      <div class="card w-75">
        <h4 class="card-header">
          ICS 6B
        </h4>
				<div class="card-body">
	        <h5 class="card-title">Partner?</h5>
	        <p class="card-text">Does anybody want to do ICS 6B homework with me?</p>
	        <a href="#" class="btn btn-primary">Comment</a>
	        <p>
	        <small class="text-muted" style="float:right">Last updated 3 mins ago</small>
	        </p>
        </div>
			</div>
		</div>
		</br>
{% endblock %}
